:root {
  --md-source: #765E79;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #340043;
  --md-ref-palette-primary20: #4e155e;
  --md-ref-palette-primary25: #5b226a;
  --md-ref-palette-primary30: #682e77;
  --md-ref-palette-primary35: #753b83;
  --md-ref-palette-primary40: #824790;
  --md-ref-palette-primary50: #9d60ab;
  --md-ref-palette-primary60: #b979c7;
  --md-ref-palette-primary70: #d693e3;
  --md-ref-palette-primary80: #f2afff;
  --md-ref-palette-primary90: #fcd7ff;
  --md-ref-palette-primary95: #ffebfd;
  --md-ref-palette-primary98: #fff7fb;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #241727;
  --md-ref-palette-secondary20: #3a2b3c;
  --md-ref-palette-secondary25: #463648;
  --md-ref-palette-secondary30: #524154;
  --md-ref-palette-secondary35: #5e4d60;
  --md-ref-palette-secondary40: #6a596c;
  --md-ref-palette-secondary50: #847185;
  --md-ref-palette-secondary60: #9e8a9f;
  --md-ref-palette-secondary70: #baa5ba;
  --md-ref-palette-secondary80: #d6c0d6;
  --md-ref-palette-secondary90: #f3dbf2;
  --md-ref-palette-secondary95: #ffebfd;
  --md-ref-palette-secondary98: #fff7fb;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #33110e;
  --md-ref-palette-tertiary20: #4c2521;
  --md-ref-palette-tertiary25: #59302c;
  --md-ref-palette-tertiary30: #673b36;
  --md-ref-palette-tertiary35: #744641;
  --md-ref-palette-tertiary40: #82524d;
  --md-ref-palette-tertiary50: #9e6a64;
  --md-ref-palette-tertiary60: #ba837d;
  --md-ref-palette-tertiary70: #d79d96;
  --md-ref-palette-tertiary80: #f5b7b1;
  --md-ref-palette-tertiary90: #ffdad6;
  --md-ref-palette-tertiary95: #ffedea;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1e1b1e;
  --md-ref-palette-neutral20: #332f33;
  --md-ref-palette-neutral25: #3e3a3e;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565155;
  --md-ref-palette-neutral40: #625d61;
  --md-ref-palette-neutral50: #7b7579;
  --md-ref-palette-neutral60: #958f93;
  --md-ref-palette-neutral70: #b0a9ad;
  --md-ref-palette-neutral80: #ccc4c9;
  --md-ref-palette-neutral90: #e8e0e5;
  --md-ref-palette-neutral95: #f7eef3;
  --md-ref-palette-neutral98: #fff7fb;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #201920;
  --md-ref-palette-neutral-variant20: #352e36;
  --md-ref-palette-neutral-variant25: #413941;
  --md-ref-palette-neutral-variant30: #4c444c;
  --md-ref-palette-neutral-variant35: #585058;
  --md-ref-palette-neutral-variant40: #655c64;
  --md-ref-palette-neutral-variant50: #7e747d;
  --md-ref-palette-neutral-variant60: #988e97;
  --md-ref-palette-neutral-variant70: #b3a8b1;
  --md-ref-palette-neutral-variant80: #cfc3cd;
  --md-ref-palette-neutral-variant90: #ecdfe9;
  --md-ref-palette-neutral-variant95: #faedf7;
  --md-ref-palette-neutral-variant98: #fff7fb;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #824790;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #fcd7ff;
  --md-sys-color-on-primary-container-light: #340043;
  --md-sys-color-secondary-light: #6a596c;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f3dbf2;
  --md-sys-color-on-secondary-container-light: #241727;
  --md-sys-color-tertiary-light: #82524d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdad6;
  --md-sys-color-on-tertiary-container-light: #33110e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1b1e;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1e1b1e;
  --md-sys-color-surface-variant-light: #ecdfe9;
  --md-sys-color-on-surface-variant-light: #4c444c;
  --md-sys-color-outline-light: #7e747d;
  --md-sys-color-inverse-on-surface-light: #f7eef3;
  --md-sys-color-inverse-surface-light: #332f33;
  --md-sys-color-inverse-primary-light: #f2afff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #824790;
  --md-sys-color-outline-variant-light: #cfc3cd;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #f2afff;
  --md-sys-color-on-primary-dark: #4e155e;
  --md-sys-color-primary-container-dark: #682e77;
  --md-sys-color-on-primary-container-dark: #fcd7ff;
  --md-sys-color-secondary-dark: #d6c0d6;
  --md-sys-color-on-secondary-dark: #3a2b3c;
  --md-sys-color-secondary-container-dark: #524154;
  --md-sys-color-on-secondary-container-dark: #f3dbf2;
  --md-sys-color-tertiary-dark: #f5b7b1;
  --md-sys-color-on-tertiary-dark: #4c2521;
  --md-sys-color-tertiary-container-dark: #673b36;
  --md-sys-color-on-tertiary-container-dark: #ffdad6;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1b1e;
  --md-sys-color-on-background-dark: #e8e0e5;
  --md-sys-color-surface-dark: #1e1b1e;
  --md-sys-color-on-surface-dark: #e8e0e5;
  --md-sys-color-surface-variant-dark: #4c444c;
  --md-sys-color-on-surface-variant-dark: #cfc3cd;
  --md-sys-color-outline-dark: #988e97;
  --md-sys-color-inverse-on-surface-dark: #1e1b1e;
  --md-sys-color-inverse-surface-dark: #e8e0e5;
  --md-sys-color-inverse-primary-dark: #824790;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #f2afff;
  --md-sys-color-outline-variant-dark: #4c444c;
  --md-sys-color-scrim-dark: #000000;
  
}
