
.primary-button {
  background-color: var(--md-sys-color-on-primary);
  color: var(----md-sys-color-primary-container);
  border-radius: 10px;
  width: 160px;
  height: 40px;
}

.primary-button p{
    font-size: 20px;
    font-weight: bold;
}